body{
	/* background-color: green; */
	/* hide everything outside body */
	overflow: hidden;
}

.yahoo-form{
	margin-bottom: 20px;
}

#pages{
	width: 200vw;
}

#page1, #page2{
	width: 100vw;
	float: left;
	height: 100vh;
	position: relative;
	transition: all 3s;
}

#arrow1, #arrow2{
	position: absolute;
	top: 50%;
	background-color: #337ab7;
	color: white;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 2em;
}

#arrow1{
	right: 0px;
}

#arrow2{
	left: 0px;
}
